$base-padding: 5px;
$h1-size:           36px!default; // .alpha
$h2-size:           30px!default; // .beta
$h3-size:           24px!default; // .gamma
$h4-size:           20px!default; // .delta
$h5-size:           16px!default; // .epsilon
$h6-size:           14px!default;


.clear {
    overflow: hidden;
}

.column {
    box-sizing: border-box;
    padding: $base-padding;
}

.column-65, .column-50, .column-35 {
    float: left;    
} 

.column-65 {
    width: 65%;
}

.column-50 {
    width: 50%;
}

.column-35 {
    width: 35%;
}

.column-25 {
    width: 32%;
}

.column-12 {
    width: 19%;
}

.button-reset, .input-reset, .button {
    background: none;
    padding: 0;
    border: none;
    outline: none;
}

.input, .button-block {
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-decoration: none;
}

.input-reset {
    padding: 15px;
}

.icon-pos-left {
    padding-left: 42px;
    background-position: $base-padding center;
    background-repeat: no-repeat;
}

.icon-search {
    background-image: url('../assets/images/icon-search.png');
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: $h1-size;
}

h2 {
    font-size: $h2-size;
}

h3 {
    font-size: $h3-size;
}

h4 {
    font-size: $h4-size;
}

h5 {
    font-size: $h5-size;
}

h6 {
    font-size: $h6-size;
}

ul {
    padding: 0;
    margin: 0;
}

.is-hidden {
    display:none;
}

.media {
    overflow: hidden;
    
    .image {
        float:left; margin-right: 10px;
        display: block;
    }
    
    .body {
        overflow:hidden;
        _overflow:visible;
        zoom:1;
    }
}

.padding-break-right {
    padding-right: 0;
}

.padding-break-left {
    padding-left: 0;
}
